<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hxy.core.schoolServ.dao.SchoolServMapper">

	<select id="list" parameterType="map" resultType="com.hxy.core.schoolServ.entity.SchoolServ">
		select * from school_service
		<where>
			<if test="serviceName!=null and serviceName!=''">
				and serviceName like concat('%',#{serviceName},'%')
			</if>
			
			
		</where>
		order by systemService desc, id desc limit #{start},#{rows}
	</select>
	
	
	<select id="count" parameterType="map" resultType="long">
		select count(id) from school_service
		<where>
			<if test="serviceName!=null and serviceName!=''">
				and serviceName like concat('%',#{serviceName},'%')
			</if>
			
		</where>
	</select>

	<insert id="save" parameterType="com.hxy.core.schoolServ.entity.SchoolServ">
		insert into school_service(
			serviceName,
			systemService,
			provideService,
			serviceUrl,
			servicePic,
			createBy,
			createDate
			) 
			value(
			#{serviceName},
			#{systemService},
			#{provideService},
			#{serviceUrl},
			#{servicePic},
			#{createBy},
			now()
			)
	</insert>
	
	
	<delete id="delete" parameterType="list">
		delete from school_service where systemService != 1 and id in
		<foreach collection="list" item="ids" open="(" separator="," close=")">
			#{ids}
		</foreach>
	</delete>
	
	
	
	
	
	
	<update id="update" parameterType="com.hxy.core.schoolServ.entity.SchoolServ">
		update school_service 
		<set>
			<if test="serviceName!=null and serviceName!=''">
				serviceName = #{serviceName},
			</if>
			<if test="systemService!=null and systemService!=''">
				systemService = #{systemService},
			</if>
			<if test="provideService!=null and provideService!=''">
				provideService = #{provideService},
			</if>
			<if test="serviceUrl!=null and serviceUrl!=''">
				serviceUrl = #{serviceUrl},
			</if>
			<if test="servicePic!=null and servicePic!=''">
				servicePic = #{servicePic},
			</if>
			<if test="createBy!=null and createBy!=''">
				createBy = #{createBy},
			</if>
		</set>
		where id = #{id}
	</update>
	
	<select id="selectById" parameterType="long" resultType="com.hxy.core.schoolServ.entity.SchoolServ">
		select * from school_service where id = #{id}
	</select>
	
	
	<select id="getServiceList" resultType="com.hxy.core.schoolServ.entity.SchoolServ">
		select * from school_service where provideService = 1 order by systemService desc, id desc 
	</select>
	
	
</mapper>