<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hxy.web.news.dao.WebNewsMapper">
    
    <resultMap type="com.hxy.web.news.entity.WebNewsType" id="webNewsResultMap">
		<id column="id" property="id" />
		<result column="parent_id" property="parentId" />
		<result column="name" property="name" />
		<result column="type" property="type" />
		<result column="url" property="url" />
		<result column="orderNum" property="orderNum" />
		<result column="origin" property="origin" />
		<result column="isNavigation" property="isNavigation" />
		<collection property="webNewsType" ofType="com.hxy.web.news.entity.WebNewsType">
			<id column="id2" property="id" />
			<result column="parent_id2" property="parentId" />
			<result column="name2" property="name" />
			<result column="type2" property="type" />
			<result column="url2" property="url" />
			<result column="orderNum2" property="orderNum" />
		</collection>
	</resultMap>
    
    <select id="getWebNewsTypeList" parameterType="com.hxy.web.news.entity.WebNewsType" resultMap="webNewsResultMap">
		
		SELECT ta.*, tb.* FROM web_news_type ta
		      LEFT OUTER JOIN 
		      (select id AS id2, parent_id AS parent_id2, name AS name2, type AS type2, url AS url2, orderNum AS orderNum2
		         from web_news_type
		        <where>
		            and parent_id>0
		            <!-- <if test="origin!=null and origin!='' and origin!=0">
						and origin = #{origin}
					</if> -->
					
		            <!-- <if test="cityName!=null and cityName!=''">
						and cityName = #{cityName}
					</if> -->
		        </where>      
		      ) tb 
		      ON tb.parent_id2=ta.id
	     <where>
			
	        and ta.parent_id=0
			<if test="origin!=null and origin!='' and origin!=0">
				and ta.origin = #{origin}
			</if>
			
			<if test="cityName!=null and cityName!=''">
				and ta.cityName like concat('%',#{cityName},'%')
			</if>
			<!-- 是否上导航（0：不上导航， 1：上导航） -->
			and ta.isMain = 1
			
			
		  </where>
		     
		order by ta.orderNum, tb.orderNum2  
	</select>
    
    <select id="getAlumniLocList" parameterType="com.hxy.web.news.entity.WebNewsType" resultType="com.hxy.web.news.entity.WebNewsType">
		
		select alumniId AS id, alumniName AS name, region AS cityName from alumni order by region
        
	</select>
	
	
	<select id="getWebNewsList" parameterType="com.hxy.web.news.entity.WebNews" resultType="com.hxy.web.news.entity.WebNews">
		select 
			*
		from 
			news_data
		order by id desc limit #{currentRow},#{incremental}  
	</select>
	
	
	<select id="getWebNewsCount" parameterType="com.hxy.web.news.entity.WebNews" resultType="long">
		select 
			count(newsId)
		from 
			news
		<where>
			<if test="categoryWeb!=null and categoryWeb!='' and categoryWeb!='0'">
				and categoryWeb = #{categoryWeb}
			</if>
			<if test="topnews!=null and topnews!=''">
				and topnewsWeb = #{topnews}
			</if>
		</where>
	</select>
	
	
	<select id="getWebNews" parameterType="com.hxy.web.news.entity.WebNews" resultType="com.hxy.web.news.entity.WebNews">
		select 
			*
		from 
			news
		<where>
			<if test="newsId!=null and newsId!=''">
				and newsId = #{newsId}
			</if>
			<if test="categoryWeb!=null and categoryWeb!='' and categoryWeb!='0'">
				and categoryWeb = #{categoryWeb}
			</if>
		</where>
		limit 1
	</select>
	
	
	<select id="getMainWebNewsType" parameterType="com.hxy.web.news.entity.WebNewsType" resultType="com.hxy.web.news.entity.WebNewsType">
		select 
			*
		from 
			web_news_type
		<where>
			<if test="origin!=null and origin!=''">
				and (parent_id in(select id from web_news_type where origin = #{origin}) or (origin = #{origin} and parent_id = 0)) 
			</if>
			<if test="cityName!=null and cityName!=''">
				and cityName like concat('%',#{cityName},'%')
			</if>
			and isMain = 1
		</where>
		order by orderNum
	</select>
	
	
	<select id="getWebNewsTypeById" parameterType="com.hxy.web.news.entity.WebNewsType" resultType="com.hxy.web.news.entity.WebNewsType">
		select 
			name
		from 
			web_news_type
		<where>
			<if test="id!=null and id!=''">
				and id = #{id}
			</if>
		</where>
		limit 1
	</select>
    
	
	<select id="getWebTypeByParentId" parameterType="com.hxy.web.news.entity.WebNewsType" resultType="com.hxy.web.news.entity.WebNewsType">
		
	    SELECT * FROM web_news_type
	    <where>
			and parent_id = #{parentId}
			and type=1
			<if test="origin!=null and origin!='' and parentId==0">
				and origin = #{origin}
			</if>
		</where>
	    
	</select>
	
	<select id="getWebParentsByTypeId" parameterType="com.hxy.web.news.entity.WebNewsType" resultType="com.hxy.web.news.entity.WebNewsType">
		
	    SELECT * FROM web_news_type where id= (select parent_id from web_news_type where id=#{id}) 
	    
	</select>
    
    <select id="getByName" parameterType="string" resultMap="webNewsResultMap">
		select * from web_news_type where name=#{name}
	</select>
</mapper>