<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hxy.core.news.dao.MobNewsTypeMapper">

	<!-- 查询新闻栏目并分页 -->
	<select id="query" parameterType="map" resultType="com.hxy.core.news.entity.NewsType">
		select * from mobile_news_type
		<where>
			<if test="parent_id!=null and parent_id>=0">
				and parent_id = #{parent_id}
			</if>
			<if test="type!=null and type!=''">
				and type = #{type}
			</if>
			<if test="origin!=null and origin!=''">
				and origin = #{origin}
			</if>
			<if test="name!=null and name!=''">
				and name like concat('%',#{name},'%')
			</if>
			<if test="cityName!=null and cityName!=''">
				and cityName like concat('%',#{cityName},'%')
			</if>			
		</where>
		<if test="start!=null and rows!=null">
		order by origin,cityName,orderNum limit #{start},#{rows}
		</if>
	</select>
		<!-- 查询新闻栏目并分页 -->
	<select id="query2" parameterType="map" resultType="com.hxy.core.news.entity.NewsChannel">
		select * from news_channel
		<where>
			<if test="parent_id!=null and parent_id>0">
				and channel_pid = #{parent_id}
			</if>
			<if test="type!=null and type!= 0">
				and channel_type = #{type}
			</if>
			<if test="name!=null and name!=''">
				and channel_name like concat('%',#{name},'%')
			</if>		
		</where>
		<if test="start!=null and rows!=null">
	    limit #{start},#{rows}
		</if>
	</select>
	
	<select id="getByName" parameterType="string" resultType="com.hxy.core.news.entity.NewsType">
		select * from mobile_news_type where name=#{name}
	</select>
	
	<!-- 查询数量条数 -->
	<select id="count2" parameterType="map" resultType="java.lang.Integer">
		select count(*) from news_channel
		<where>
			<if test="parent_id!=null and parent_id>0">
				and channel_pid = #{parent_id}
			</if>
			<if test="type!=null and type!=0">
				and channel_type = #{type}
			</if>
			<if test="name!=null and name!=''">
				and channel_name like concat('%',#{name},'%')
			</if>
		</where>
	</select>
		<!-- 查询数量条数 -->
	<select id="count" parameterType="map" resultType="java.lang.Integer">
		select count(*) from mobile_news_type
		<where>
			<if test="parent_id!=null and parent_id>=0">
				and parent_id = #{parent_id}
			</if>
			<if test="type!=null and type!=''">
				and type = #{type}
			</if>
			<if test="origin!=null and origin!=''">
				and origin = #{origin}
			</if>
			<if test="name!=null and name!=''">
				and name like concat('%',#{name},'%')
			</if>
			<if test="cityName!=null and cityName!=''">
				and cityName like concat('%',#{cityName},'%')
			</if>
		</where>
	</select>
	<!-- 查询新闻栏目的详细信息 -->
	<select id="getById" parameterType="string" resultType="com.hxy.core.news.entity.NewsType">
		select t.*,p.`name`as parent_name,n.title as newsTitle,n.content as newsContent  
		from mobile_news_type  t
		LEFT JOIN mobile_news_type p ON t.parent_id = p.id
		LEFT JOIN news n on t.id= n.category and t.type=3
		where t.id = #{id};
	</select>
	
	<!-- 查询新闻栏目的详细信息 -->
	<select id="getById2" parameterType="string" resultType="com.hxy.core.news.entity.NewsChannel">
		select *  from news_channel  
		where id = #{id};
	</select>
	
	<!-- 新闻栏目新增 -->
	<insert id="save" parameterType="com.hxy.core.news.entity.NewsType">
		insert into mobile_news_type(id,parent_id,name,type,url,orderNum,origin,cityName,isNavigation)
		values(#{id},#{parent_id},#{name},#{type},#{url},#{orderNum},#{origin},#{cityName},#{isNavigation})
	</insert>
		<!-- 新闻栏目新增 -->
	<insert id="save2" parameterType="com.hxy.core.news.entity.NewsChannel">
		insert into news_channel(channel_pid,channel_name,channel_type,channel_url,channel_ordernum,created_by)
		values(#{channel_pid},#{channel_name},#{channel_type},#{channel_url},#{channel_ordernum},#{created_by})
	</insert>
	<select id="getNewId" resultType="long">
        select LAST_INSERT_ID()
    </select>
	
	<!-- 新闻栏目删除,根据id -->
	<delete id="deleteById" parameterType="list">
		delete from news_channel where id in
		<foreach collection="list" open="(" close=")" item="ids" separator=",">
			#{ids}
		</foreach>
	</delete>
	
	<!-- 新闻栏目删除,根据父id -->
	<delete id="deleteByPid" parameterType="list">
		delete from news_channel where channel_pid in
		<foreach collection="list" open="(" close=")" item="ids" separator=",">
			#{ids}
		</foreach>
	</delete>
	
	<!-- 新闻栏目更新 -->
	<update id="update" parameterType="com.hxy.core.news.entity.NewsType" >
		update mobile_news_type set
	 		name=#{name},
	 		parent_id=#{parent_id},
	 		type=#{type},
	 		url=#{url},
	 		origin=#{origin},
	 		orderNum=#{orderNum},
		 	cityName = #{cityName},
		 	isNavigation = #{isNavigation}
		 where id = #{id}
	</update>
	
		<!-- 新闻栏目更新 -->
	<update id="update2" parameterType="com.hxy.core.news.entity.NewsChannel" >
		update news_channel set
	 		channel_name=#{channel_name},
	 		channel_pid=#{channel_pid},
	 		channel_type=#{channel_type},
	 		channel_url=#{channel_url},
	 		channel_ordernum=#{channel_ordernum}
		 where id = #{id}
	</update>
	
	<insert id="saveNews" parameterType="com.hxy.core.news.entity.News">
		insert into news(title,content,createTime,channelName,category)
		values(#{title},#{content},now(),#{channelName},#{category})
	</insert>
	<update id="updateNews" parameterType="com.hxy.core.news.entity.News">
		update news set title=#{title},content=#{content} where category=#{category}
	</update>
	<delete id="deleteNews" parameterType="string">
		delete n
		from news_data n inner join news_channel t on n.news_channel_id = t.id
		where t.id=#{typeId}
	</delete>
</mapper>