<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hxy.core.user.dao.UserDeptMapper">
	<insert id="save" parameterType="com.hxy.core.user.entity.UserDept">
		insert into user_dept(userId,deptId) values(#{userId},#{deptId})
	</insert>
	<delete id="deleteByUserId" parameterType="long">
		delete from user_dept where userId=#{userId}
	</delete>
	<delete id="deleteByUserIdAndDeptId" parameterType="com.hxy.core.user.entity.UserDept">
		delete from user_dept where userId=#{userId} and deptId=#{deptId}
	</delete>
</mapper>