<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hxy.core.userProfile.dao.UserProfileMapper">
	<resultMap type="com.hxy.core.userProfile.entity.UserProfile"
		id="userProfileResultMap">
		<result column="picture" property="picture" />
		<result column="accountNum" property="accountNum" />
		<result column="password" property="password" />
		<result column="name" property="name" />
		<result column="phoneNum" property="phoneNum" />
		<result column="address" property="address" />
		<result column="sign" property="sign" />
		<result column="intrestType" property="intrestType" />
		<result column="channels" property="channels" />
		<result column="email" property="email" />
		<result column="authenticated" property="authenticated" />
		<result column="sex" property="sex" />
		<result column="groupName" property="groupName" />
		<result column="baseInfoId" property="baseInfoId" />
		<result column="classes" property="classes"/>
		<result column="workUtil" property="workUtil"/>
		<result column="profession" property="profession"/>
		<result column="hobby" property="hobby"/>
		<result column="position" property="position"/>
		<result column="mu_longitud" property="mu_longitud"/>
		<result column="mu_latitude" property="mu_latitude"/>
		<result column="gps_time" property="gps_time"/>
		<result column="alumni_id" property="alumni_id"/>
	</resultMap>
	<select id="countUserProfile" parameterType="map" resultType="long">
		select count(accountNum) from userprofile
		<where>
			<if test="accountNum!=null and accountNum!=''">
				accountNum=#{accountNum}
			</if>
			<if test="name!=null and name!=''">
				and name like concat('%',#{name},'%')
			</if>
		</where>
	</select>
	<select id="countByPhoneNum" parameterType="map" resultType="long">
		select count(accountNum) from userprofile
		<where>
			<if test="phoneNum!=null and phoneNum!=''">
				phoneNum=#{phoneNum}
			</if>
		</where>
	</select>
	<select id="countUserProfileByBaseInfoId" parameterType="map"
		resultType="long">
		select count(accountNum) from userprofile
		<where>
			<if test="baseInfoId!=null and baseInfoId!=''">
				baseInfoId like concat('%',#{baseInfoId},'%')
			</if>
		</where>
	</select>
	<select id="selectUserProfileList" parameterType="map"
		resultMap="userProfileResultMap">
		select * from userprofile
		<where>
			<if test="accountNum!=null and accountNum!=''">
				accountNum=#{accountNum}
			</if>
			<if test="name!=null and name!=''">
				and name like concat('%',#{name},'%')
			</if>
		</where>
		limit #{start},#{rows}
	</select>
	<select id="selectUserByName" parameterType="map"
		resultMap="userProfileResultMap">
		select * from userprofile
		<where>
			<if test="name!=null and name!=''">
				name like concat('%',#{name},'%')
			</if>
		</where>
		limit #{start},#{rows}
	</select>

	<select id="selectAlumni" parameterType="map" resultMap="userProfileResultMap">
		select
		*
		from userprofile
		where baseInfoId is not null and
		baseInfoId!='' and name=#{name}
		<if test="sex!=null and sex!=''">
			and sex=#{sex}
		</if>
		<if test="profession!=null and profession!=''">
			and profession like concat('%',#{profession},'%')
		</if>
		<if test="address!=null and address!=''">
			and address like concat('%',#{address},'%')
		</if>
	</select>

	<!-- 新增模糊查询 性别(sex)，年龄(age)，行业(profession)，所在地(address)- -->
	<select id="selectUserByQuery" parameterType="map"
		resultMap="userProfileResultMap">
		select * from userprofile
		<where>
			<if test="accountNum!=null and accountNum!='' and min_longitud==null">
				accountNum = #{accountNum}
			</if>
			<if test="name!=null and name!=''">
				<!-- name like concat('%',#{name},'%') -->
				name = #{name}
			</if>
			<if test="sex!=null and sex!=''">
				and sex = #{sex}
			</if>
			<if test="profession!=null and profession!=''">
				and profession like concat('%',#{profession},'%')
			</if>
			<if test="address!=null and address!=''">
				and address like concat('%',#{address},'%')
			</if>
			<!-- 新增经度纬度查询附近人功能,按照距离升序 -->
			<if
				test="min_longitud!=null and max_longitud!=null and min_latitude!=null and max_latitude!= null">
				<![CDATA[
				and mu_longitud > #{min_longitud} 
            	and mu_longitud < #{max_longitud}
            	and mu_latitude > #{min_latitude}
            	and mu_latitude < #{max_latitude}
            	and accountNum <> #{accountNum}
            	and mu_longitud is not null and mu_longitud!=''
            	and mu_latitude is not null and mu_latitude!=''
            	order by ACOS(SIN((#{mu_latitude} * 3.1415) / 180 ) * SIN((mu_latitude * 3.1415) / 180 )   
	            +COS((#{mu_latitude} * 3.1415) / 180 ) * COS((mu_latitude * 3.1415) / 180 )   
	            *COS((#{mu_longitud} * 3.1415) / 180 - (mu_longitud * 3.1415) / 180 ) )   
	            * 6380 asc
            	]]>
			</if>

		</where>
		limit #{start},#{rows}
	</select>

	<select id="getUserProfileByGroupId" parameterType="string"
		resultMap="userProfileResultMap">
		select * from userprofile where groupName like
		concat('%',#{groupId},'%')
	</select>

	<select id="selectNearPeople" parameterType="map"
		resultMap="userProfileResultMap">
		select * from userprofile where <![CDATA[ mu_longitud >
		#{min_longitud}
		and mu_longitud < #{max_longitud}
		and mu_latitude > #{min_latitude}
		and mu_latitude < #{max_latitude}
		and accountNum <> #{accountNum}
		and mu_longitud is not null and mu_longitud!=''
		and mu_latitude is not null and mu_latitude!=''
		and DATE_FORMAT(gps_time,'%Y-%m-%d')=DATE_FORMAT(now(),'%Y-%m-%d')
		order by ACOS(SIN((#{mu_latitude} * 3.1415) / 180 ) * SIN((mu_latitude *
		3.1415) / 180 )
		+COS((#{mu_latitude} * 3.1415) / 180 ) * COS((mu_latitude * 3.1415) / 180 )
		*COS((#{mu_longitud} * 3.1415) / 180 - (mu_longitud * 3.1415) / 180 )
		)
		* 6380 asc
		limit 0,100
		]]>
	</select>

	<select id="selectAll" resultMap="userProfileResultMap">
		select * from userprofile
	</select>
	<insert id="save" parameterType="com.hxy.core.userProfile.entity.UserProfile"
		useGeneratedKeys="true" keyProperty="accountNum">
		insert into
		userprofile(picture,password,name,phoneNum,sex,address,sign,intrestType,
		channels,email,baseInfoId)
		values(#{picture},#{password},#{name},#{phoneNum},#{sex},#{address},#{sign},#{intrestType},
		#{channels},#{email},#{baseInfoId})
	</insert>
	<select id="selectById" parameterType="string" resultMap="userProfileResultMap">
		select
		*
		from userprofile where accountNum=#{accountNum}
	</select>

	<!-- 根据accountNum集合查询userProfile的accountNum,groupName -->
	<select id="selectGroupInfoByAccountNumList" parameterType="list"
		resultMap="userProfileResultMap">
		select accountNum,groupName
		from userprofile where accountNum in
		<foreach collection="list" item="accountList" open="("
			separator="," close=")">
			#{accountList}
		</foreach>
	</select>

	<!-- 根据accountNum集合批量修改userProfile的groupName -->




	<delete id="delete" parameterType="list">
		delete from userprofile where accountNum in
		<foreach collection="list" item="ids" open="(" separator=","
			close=")">
			#{ids}
		</foreach>
	</delete>
	<delete id="deleteByAccountNum" parameterType="map">
		delete from
		userprofile where accountNum=#{accountNum}
	</delete>
	<update id="updateAuthenticated" parameterType="map">
		update
		userprofile set authenticated=#{authenticated}
		where
		accountNum=#{accountNum}
	</update>
	<update id="updateGroup" parameterType="com.hxy.core.userProfile.entity.UserProfile">
		update userprofile set
		groupName=#{groupName}
		where accountNum=#{accountNum}
	</update>

	<!-- 更新 -->
	<update id="update" parameterType="com.hxy.core.userProfile.entity.UserProfile">
		update userprofile
		<set>
			<if test="picture!=null and picture!=''">
				picture=#{picture},
			</if>
			<if test="password!=null and password!=''">
				password=#{password},
			</if>
			<if test="name!=null and name!=''">
				name=#{name},
			</if>
			<if test="phoneNum!=null and phoneNum!=''">
				phoneNum=#{phoneNum},
			</if>
			<if test="sex!=null and sex!=''">
				sex=#{sex},
			</if>
			<if test="sign!=null and sign!=''">
				sign=#{sign},
			</if>
			<if test="intrestType!=null and intrestType!=''">
				intrestType=#{intrestType},
			</if>
			<if test="channels!=null and channels!=''">
				channels=#{channels},
			</if>
			<if test="email!=null and email!=''">
				email=#{email},
			</if>
			<if test="address!=null and address!=''">
				address=#{address},
			</if>
			<if test="baseInfoId!=null and baseInfoId!=''">
				baseInfoId=#{baseInfoId},
			</if>
			<if test="groupName!=null">
				groupName=#{groupName},
			</if>
			<if test="authenticated!=null and authenticated!=''">
				authenticated=#{authenticated},
			</if>
			<if test="classes!=null and classes!=''">
				classes=#{classes},
			</if>
			<!-- 新增的字段 -->
			<if test="workUtil!=null and workUtil!=''">
				workUtil=#{workUtil},
			</if>
			<if test="profession!=null and profession!=''">
				profession=#{profession},
			</if>
			<if test="hobby!=null and hobby!=''">
				hobby=#{hobby},
			</if>
			<if test="position!=null and position!=''">
				position=#{position},
			</if>
			<if
				test="mu_longitud!=null and mu_longitud!=0.0 and mu_latitude!=null and mu_latitude!=0.0">
				mu_longitud=#{mu_longitud},mu_latitude=#{mu_latitude},
			</if>
			<if test="gps_time!=null and gps_time!=''">
				gps_time=#{gps_time},
			</if>
			<if test="alumni_id>0">
				alumni_id=#{alumni_id},
			</if>
		</set>
		where accountNum=#{accountNum}
	</update>

	<update id="updateGps" parameterType="com.hxy.core.userProfile.entity.UserProfile">
		update userprofile set
		mu_longitud=#{mu_longitud},mu_latitude=#{mu_latitude},gps_time=#{gps_time}
		where accountNum=#{accountNum}
	</update>

	<update id="updatePhoto" parameterType="com.hxy.core.userProfile.entity.UserProfile">
		update userprofile set
		picture=#{picture} where accountNum=#{accountNum}
	</update>

	<!-- 根据accountNum查询用户profile信息 -->
	<select id="selectByAccountNum" parameterType="string"
		resultMap="userProfileResultMap">
		select *
		from userprofile where accountNum=#{accountNum}
		or phoneNum=#{accountNum}
	</select>
	<select id="selectByBaseInfoId" parameterType="string"
		resultMap="userProfileResultMap">
		select *
		from userprofile where baseInfoId like
		concat('%',#{baseInfoId},'%')
	</select>
	<select id="selectByPhoneNum" parameterType="string"
		resultMap="userProfileResultMap">
		select *
		from userprofile where phoneNum=#{phoneNum}
	</select>
	<update id="clearBaseInfoId" parameterType="map">
		update userprofile
		set baseInfoId=#{baseInfoId},groupName=#{groupName} where
		accountNum=#{accountNum}
	</update>
	<update id="updateBase" parameterType="com.hxy.core.userProfile.entity.UserProfile">
		update userprofile set sex=#{sex},name=#{name}
		<if test="newBaseInfoId!=null and newBaseInfoId!=''">
			,baseInfoId=#{newBaseInfoId}
		</if>
		<if test="groupName!=null and groupName!=''">
			,groupName=#{groupName}
		</if>
		where baseInfoId like concat('%',#{baseInfoId},'%')
	</update>
	<update id="updatePassword" parameterType="com.hxy.core.userProfile.entity.UserProfile">
		update userprofile
		set password=#{password} where accountNum=#{accountNum}
	</update>
	
	<!-- 根据多个accountNum查询 -->
	<select id="selectByAccountNums" parameterType="list" resultMap="userProfileResultMap">
		select * from userprofile where accountNum in
		<foreach collection="list" open="(" separator="," close=")"
			item="ids">
			#{ids}
		</foreach>
	</select>
</mapper>