/*
    清除浮动
*/
.clearfix:before, .clearfix:after {
    display: table;
    content: " ";
}
.clearfix:after {
    clear: both;
}

/*
    底部按钮
*/
.ui-footer .ui-tiled .fa {
    clear: both;
    display: block;
    font-size: 24px;
}
.ui-footer-btn {
    background: #f7f7f7;
}
.ui-footer-btn li {
    font-size: 12px;
    color: #A3A6AA;
}
.ui-footer-btn li.current {
    color: #4FC1E9;
}

/*
    主题列表
*/
.thread {
    background-color: #FFF;
    margin-top: 10px;
}
.post-user {
    position: relative;
    line-height: 24px;
    display: -webkit-box;
}
.post-user .ui-avatar {
    margin: 10px;
}
.post-user .ui-list-info p {
    font-size: 12px;
}
.post-user .show-bot-menu {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    padding: 10px;
    color: #7a7a7a;
}
.post-content article {
    font-size: 12px;
    padding: 0 10px 10px;
    color: #333;
}
.ui-list-pic {
    z-index: 9;
    width: 285px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.ui-list-pic li {
    float: left;
    width: 90px;
    height: 90px;
    margin-right: 5px;
    margin-top: 5px;
}
.ui-list-pic li span {
    display: block;
    width: 100%;
    height: 100%;
    background-image:url(../img/nopic.png);
    background-position: center center;
    background-size: cover;
}
.post-action {
    background-color: #f0f2f7;
    text-align: center;
    font-size: 12px;
    line-height: 32px;
}
.post-action .like {
    color: #333;
}
.post-action .like.clicked {
    color: #e2574d;
}
.post-action .favorites ,.post-action .comment {
    color: #4FC1E9;
}
.post-action .favorites.clicked {
    color: #e2574d;
}

/*
    评论列表
*/
.comment-list .thread {
    margin-bottom: 10px;
}
.comment-list .post-time {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
    line-height: 18px;
    color: #A3A6AA;
}
.comment-list .ui-list-info > p {
    font-size: 12px;
    line-height: 18px;
    color: #333;
}
.ui-mini-footer {
    height: 44px;
}
#reply {
    background-color: #ebeced;
    height: 44px;
    display: -webkit-box;
    -webkit-box-align: center
}
#reply .ui-btn, #reply i {
    margin-right: 10px
}
.reply {
    height: 30px;
    line-height: 30px;
    margin: 7px 10px;
    background: #fff;
    padding-left: 10px;
    -webkit-box-flex: 1
}
.reply input {
    width: 100%;
    height: 100%;
    border: 0;
    background: 0 0;
    -webkit-appearance: none;
    outline: 0;
    border-radius: 4px;
}
#reply .ui-btn {
    margin: 7px 10px 7px 0;
}
.ui-border-radius {
    border: 1px solid #e0e0e0;
    border-radius: 4px
}

/*
    发帖
*/
.create-post .ui-form-item-textarea {
    height: 120px;
    margin-bottom: 10px;
    background-color: #fff;
}
.create-post .ui-form-item-textarea textarea {
    height: 90px;
}
.ui-pic-upload {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
}
.upload-btn {
    border: 1px dashed #8a8a8a;
    width: 60px;
    height: 60px;
    font-size: 12px;
    text-align: center;
    display: -webkit-box;
    -webkit-box-sizing: border-box;
    -webkit-box-align: center;
}
.upload-btn a {
    display: block;
    width: 100%;
    color: #a3a6aa;
}
.upload-btn .fa {
    font-size: 32px;
    display: block;
}
/*
    全部帖子
*/
.all-post .custom {
    position: fixed;
    bottom: 80px;
    right: 10px;
    z-index: 9;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    line-height: 60px;
    text-align: center;
    font-size: 12px;
    color: #FFF;
    background-color: #4FC1E9;
}
/*
    筛选样式
*/
.choose-city {
    display: none;
    position: absolute;
    top: 0;
    z-index: 8;
    width: 100%;
    padding: 10px;
    margin-bottom: 56px;
    background-color: #FFF;
}
.choose-city h3 {
    margin-bottom: 10px;
}
.choose-city .ui-label {
    font-size: 12px;
}
.choose-city .ui-label.checked {
    background-color: #4fc1e9;
    color: #fff;
    border-color: #003fbe;
}
.ui-actionsheet h4 {
    font-size: 20px;
}
.wrapper {
    position: absolute;
    overflow: hidden;
    z-index: 1;
    top: 0;
    bottom: 59px;
    left: 0;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction:column;
    -webkit-box-orient:vertical;
    box-orient:vertical;
    -webkit-flex-direction:column;
    flex-direction:column;
}
.inner {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
.dropload-up,.dropload-down{
    position: relative;
    height: 0;
    overflow: hidden;
    line-height: 40px;
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
}
.dropload-refresh,.dropload-update,.dropload-load{
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    -webkit-transform:translate(-50%,0);
    transform:translate(-50%,0);
}

.ui-actionsheet .ui-actionsheet-report {
    color: #fd472b; }

/* 我的 */
.my-post .ui-tab-nav {
    position: fixed;
    top: 0;
    z-index: 9;
    width: 100%;
}
.my-post .more a {
    display: block;
    line-height: 44px;
    text-align: center;
}
.ui-txt-blue {
    color: #4FC1E9;
}
.ui-tag-blue {
    font-size: 12px;
    background-color: #0050a3;
    color: #fff;
    padding: 3px;
    border-radius: 3px;
    margin-left: 5px;
}
.ui-tag-red {
    font-size: 12px;
    background-color: #95001e;
    color: #fff;
    padding: 3px;
    border-radius: 3px;
    margin-left: 5px;
}