<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hxy.core.mobevent.dao.MobEventMapper">


	<select id="getEventBoardList" parameterType="com.hxy.core.mobevent.entity.CyEventBoard" resultType="com.hxy.core.mobevent.entity.CyEventBoard">
		select 
			eb.*,
			(select count(id) from event_board_comment where boardId = eb.id) as commentNum,
			IFNULL(u.name,'') as userName,
			IFNULL(u.picture,'') as userAvatar,
			IFNULL(u.phoneNum,'') as userTel,
			IFNULL(u.sex,'') as userSex
		from 
			event_board eb LEFT JOIN userprofile u 
		on 
			eb.userInfoId = u.accountNum 
		<where>
			<if test="eventId!=null and eventId!=''">
				and eb.eventId = #{eventId} and eb.status in(0,1)
			</if>
			<if test="userInfoId!=null and userInfoId!=''">
				and eb.userInfoId = #{userInfoId}
			</if>
			
		</where>
		order by id desc limit #{currentRow},#{incremental}  
	</select>
	
	
	<select id="countEventBoard" parameterType="com.hxy.core.mobevent.entity.CyEventBoard" resultType="long">
		select 
			count(id)
		from 
			event_board
		<where>
			<if test="eventId!=null and eventId!=''">
				and eventId = #{eventId} and status in(0,1)
			</if>
			<if test="userInfoId!=null and userInfoId!=''">
				and userInfoId = #{userInfoId}
			</if>
			
		</where>
		
	</select>
	
	
	<select id="getEventBoard" parameterType="com.hxy.core.mobevent.entity.CyEventBoard" resultType="com.hxy.core.mobevent.entity.CyEventBoard">
		select 
			eb.*,
			(select count(id) from event_board_comment where boardId = eb.id) as commentNum,
			IFNULL(u.name,'') as userName,
			IFNULL(u.picture,'') as userAvatar,
			IFNULL(u.phoneNum,'') as userTel,
			IFNULL(u.sex,'') as userSex
		from 
			event_board eb LEFT JOIN userprofile u 
		on 
			eb.userInfoId = u.accountNum 
		<where>
			<if test="id!=null and id!=''">
				and eb.id = #{id} and eb.status in(0,1)
			</if>
			<if test="userInfoId!=null and userInfoId!=''">
				and eb.userInfoId = #{userInfoId}
			</if>
			
		</where>
		order by id desc limit 1
	</select>
	
	
	<select id="getEventBoardPicList" parameterType="com.hxy.core.mobevent.entity.CyEventBoardPic" resultType="com.hxy.core.mobevent.entity.CyEventBoardPic">
		select * from event_board_pic where boardId = #{boardId} order by id desc
	</select>
	
	<select id="getEventBoardPicListForEventDetail" parameterType="com.hxy.core.mobevent.entity.CyEventBoard" resultType="com.hxy.core.mobevent.entity.CyEventBoardPic">
		select * from event_board_pic where id in(select max(id) from event_board_pic where boardId in(select id from event_board where eventId = #{eventId}) group by boardId) order by id desc limit 3
	</select>
	
	<select id="getEventBoardCommentList" parameterType="com.hxy.core.mobevent.entity.CyEventBoardComment" resultType="com.hxy.core.mobevent.entity.CyEventBoardComment">
		select 
			ebc.*,
			IFNULL(u.name,'') as userName,
			IFNULL(u.picture,'') as userAvatar,
			IFNULL(u.phoneNum,'') as userTel,
			IFNULL(u.sex,'') as userSex
		from 
			event_board_comment ebc LEFT JOIN userprofile u 
		on 
			ebc.userInfoId = u.accountNum 
		where boardId = #{boardId} order by id desc limit #{currentRow},#{incremental}  
	</select>
	
	
	<select id="countEventBoardComplaint" parameterType="com.hxy.core.mobevent.entity.CyEventBoardComplaint" resultType="long">
		select 
			count(id)
		from 
			event_board_complaint
		
		<where>
			<if test="boardId!=null and boardId!=''">
				and boardId = #{boardId}
			</if>
			<if test="userInfoId!=null and userInfoId!=''">
				and userInfoId = #{userInfoId}
			</if>
		</where>
	</select>
	
	
	<select id="countEventBoardComment" parameterType="com.hxy.core.mobevent.entity.CyEventBoardComment" resultType="long">
		select 
			count(id)
		from 
			event_board_comment
		
		<where>
			<if test="boardId!=null and boardId!=''">
				and boardId = #{boardId}
			</if>
			<if test="userInfoId!=null and userInfoId!=''">
				and userInfoId = #{userInfoId}
			</if>
		</where>
	</select>
	
	
	<select id="countEventBoardPraise" parameterType="com.hxy.core.mobevent.entity.CyEventBoardPraise" resultType="long">
		select 
			count(id)
		from 
			event_board_praise
		
		<where>
			<if test="boardId!=null and boardId!=''">
				and boardId = #{boardId}
			</if>
			<if test="userInfoId!=null and userInfoId!=''">
				and userInfoId = #{userInfoId}
			</if>
		</where>
	</select>
	
	
	<insert id="insertEventBoardComplaint" parameterType="com.hxy.core.mobevent.entity.CyEventBoardComplaint">
		insert into event_board_complaint(boardId, userInfoId, reason, createTime) 
		values(#{boardId}, #{userInfoId}, #{reason}, now())
	</insert>
	
	
	<insert id="insertEventBoardComment" parameterType="com.hxy.core.mobevent.entity.CyEventBoardComment">
		insert into event_board_comment(boardId, userInfoId, comment, createTime) 
		values(#{boardId}, #{userInfoId}, #{comment}, now())
	</insert>
	
	<insert id="insertEventBoardPraise" parameterType="com.hxy.core.mobevent.entity.CyEventBoardPraise">
		insert into event_board_praise(boardId, userInfoId, createTime) 
		values(#{boardId}, #{userInfoId}, now())
	</insert>
	
	<delete id="deleteEventBoardPraise" parameterType="com.hxy.core.mobevent.entity.CyEventBoardPraise">
		delete from event_board_praise where boardId = #{boardId} and userInfoId = #{userInfoId}
	</delete>
	
	
	<delete id="deleteEventBoardComment" parameterType="com.hxy.core.mobevent.entity.CyEventBoardComment">
		delete from event_board_comment where id = #{id} and userInfoId = #{userInfoId}
	</delete>
	
	
	<update id="deleteEventBoard" parameterType="com.hxy.core.mobevent.entity.CyEventBoard">
		update event_board set status = 3 where id = #{id} and userInfoId = #{userInfoId}
	</update>
	
	
	<update id="deleteEvent" parameterType="com.hxy.core.mobevent.entity.CyEvent">
		update event set status = 2 where id = #{id} and userInfoId = #{userInfoId}
	</update>
	
	
	<select id="getEventById" parameterType="long" resultType="com.hxy.core.mobevent.entity.CyEvent">
		select 
			e.*,
			IFNULL(u.name,'') as userName,
			IFNULL(u.picture,'') as userAvatar,
			IFNULL(u.phoneNum,'') as userTel,
			IFNULL(u.sex,'') as userSex
		from 
			event e LEFT JOIN userprofile u 
		on 
			e.userInfoId = u.accountNum 
		
		where id = #{id}
	</select>
	
	
	<select id="getEventSign" parameterType="com.hxy.core.mobevent.entity.CyEventSign" resultType="com.hxy.core.mobevent.entity.CyEventSign">
		select 
			e.*,
			IFNULL(u.name,'') as userName,
			IFNULL(u.picture,'') as userAvatar,
			IFNULL(u.phoneNum,'') as userTel,
			IFNULL(u.sex,'') as userSex
		from 
			event_sign e LEFT JOIN userprofile u 
		on 
			e.userInfoId = u.accountNum 
		<where>
			<if test="eventId!=null and eventId!=''">
				and eventId = #{eventId}
			</if>
			<if test="userInfoId!=null and userInfoId!=''">
				and userInfoId = #{userInfoId}
			</if>
			<if test="viewNotification!=null and viewNotification!=''">
				and viewNotification = #{viewNotification}
			</if>
			<if test="isSignIn!=null and isSignIn!=''">
				and isSignIn = #{isSignIn}
			</if>
		</where>
		
		limit 1
	</select>
	
	
	<select id="getEventSignList" parameterType="map" resultType="com.hxy.core.mobevent.entity.CyEventSign">
		select 
			e.*,
			IFNULL(u.name,'') as userName,
			IFNULL(u.picture,'') as userAvatar,
			IFNULL(u.phoneNum,'') as userTel,
			IFNULL(u.sex,'') as userSex
		from 
			event_sign e LEFT JOIN userprofile u 
		on 
			e.userInfoId = u.accountNum 
		<where>
			<if test="eventId!=null and eventId!=''">
				and eventId = #{eventId}
			</if>
			<if test="userInfoId!=null and userInfoId!=''">
				and userInfoId = #{userInfoId}
			</if>
			<if test="viewNotification!=null and viewNotification!=''">
				and viewNotification = #{viewNotification}
			</if>
			<if test="isSignIn!=null and isSignIn!=''">
				and isSignIn = #{isSignIn}
			</if>
		</where>
		<if test="limit!=null and limit!=''">
			limit ${limit}
		</if>
	</select>
	
	
	
	<select id="pullEventSignList" parameterType="com.hxy.core.mobevent.entity.CyEventSign" resultType="com.hxy.core.mobevent.entity.CyEventSign">
		select 
			e.*,
			IFNULL(u.name,'') as userName,
			IFNULL(u.picture,'') as userAvatar,
			IFNULL(u.phoneNum,'') as userTel,
			IFNULL(u.sex,'') as userSex
		from 
			event_sign e LEFT JOIN userprofile u 
		on 
			e.userInfoId = u.accountNum 
		<where>
			<if test="eventId!=null and eventId!=''">
				and eventId = #{eventId}
			</if>
			<if test="userInfoId!=null and userInfoId!=''">
				and userInfoId = #{userInfoId}
			</if>
			<if test="viewNotification!=null and viewNotification!=''">
				and viewNotification = #{viewNotification}
			</if>
			<if test="isSignIn!=null and isSignIn!=''">
				and isSignIn = #{isSignIn}
			</if>
		</where>
		limit #{currentRow},#{incremental}  
	</select>
	
	
	<select id="countEventSign" parameterType="com.hxy.core.mobevent.entity.CyEventSign" resultType="long">
		select count(id) from event_sign
		
		<where>
			<if test="eventId!=null and eventId!=''">
				and eventId = #{eventId}
			</if>
			<if test="userInfoId!=null and userInfoId!=''">
				and userInfoId = #{userInfoId}
			</if>
		</where>
		
	</select>
	

	<select id="verifyEventSignInCode" parameterType="com.hxy.core.mobevent.entity.CyEvent" resultType="long">
		select count(id) from event where id = #{id} and signInCode = #{signInCode}
	</select>
	
	
	<update id="updateEventSign" parameterType="com.hxy.core.mobevent.entity.CyEventSign">
		update event_sign 
		<set>
			<if test="viewNotification!=null and viewNotification!=''">
				viewNotification = #{viewNotification},
			</if>
			<if test="isSignIn!=null and isSignIn!=''">
				isSignIn = #{isSignIn}, signinTime = now(),
			</if>
		</set>
		where eventId = #{eventId} and userInfoId = #{userInfoId}
	</update>
	
	
	<insert id="insertEventSign" parameterType="com.hxy.core.mobevent.entity.CyEventSign">
		insert event_sign(eventId, userInfoId, signupTime, viewNotification, isSignIn, signinTime) 
		values(#{eventId}, #{userInfoId}, #{signupTime}, #{viewNotification}, #{isSignIn}, #{signinTime})
	</insert>
	
	
	<select id="listMobEvens" parameterType="com.hxy.core.mobevent.entity.CyEvent" resultType="com.hxy.core.mobevent.entity.CyEvent">
		SELECT ta.*, tb.viewNotification, tb.isSignIn, tc.joinedPeople FROM event ta 
			LEFT OUTER JOIN (SELECT eventId, viewNotification, isSignIn FROM event_sign WHERE userInfoId=#{userInfoId}) tb
			ON ta.id = tb.eventId
			LEFT OUTER JOIN (SELECT count(id) AS joinedPeople, eventId FROM event_sign GROUP BY eventId) tc
			ON ta.id = tc.eventId
		<where>
			
		    <!-- 我参与的活动 -->
			<if test="type==1">
				AND (ta.id IN
				(SELECT distinct(eventId) AS eventId FROM event_sign WHERE userInfoId=#{userInfoId})
				AND ta.status != 2)
				
			</if>
			
			<!-- 全部活动 及相关地域刷选后的活动 -->
			<if test="type==2">
				<!-- AND (ta.endTime > Now())  -->	
				<if test="region!=null and region!='' and region!='全部'">
					AND ta.region LIKE concat('%',#{region},'%')
				</if>
				AND ta.status = 0 AND ta.auditStatus = 1
			</if>
			
			<!-- 我现在可以参与的活动 -->
			<if test="type==4">
				AND ta.id NOT IN 
				(SELECT distinct(eventId) AS eventId FROM event_sign WHERE userInfoId=#{userInfoId})
				AND ta.status = 0 AND ta.auditStatus = 1 
				AND (ta.maxPeople = 0 OR ta.maxPeople > (SELECT count(id) FROM event_sign WHERE eventId=ta.id) )
				AND 
				((Now() between ta.signupStartTime and ta.signupEndTime) OR (ta.signupStartTime > Now()))
				AND ta.userInfoId != #{userInfoId}
			</if>
			
			<!-- 我创建的活动 -->
			<if test="type==3">
				AND ta.userInfoId = #{userInfoId}
				AND ta.status != 2
			</if>
			
			<!-- 所有的官方活动 -->
			<if test="type==0">
				AND ta.type = #{type}
				AND ta.status != 2
			</if>
			
			<!-- 该用户所在地方的活动 -->
			<if test="type==5">
				AND ta.region LIKE concat('%',#{region},'%')
				AND ta.status = 0 AND ta.auditStatus = 1
			</if>
				
		</where>
		order by createTime desc limit #{currentRow},#{incremental}  
		
	</select>
	
	<select id="listMobEvensNum" parameterType="com.hxy.core.mobevent.entity.CyEvent" resultType="long">
	    SELECT count(ta.id) FROM event ta 
		<where>
			
		    <!-- 我参与的活动 -->
			<if test="type==1">
				AND (ta.id IN
				(SELECT distinct(eventId) AS eventId FROM event_sign WHERE userInfoId=#{userInfoId})
				AND ta.status != 2)
				
			</if>
			
			<!-- 全部活动 及相关地域刷选后的活动 -->
			<if test="type==2">
				<if test="region!=null and region!='' and region!='全部'">
					AND ta.region LIKE concat('%',#{region},'%')
				</if>
				AND ta.status = 0 AND ta.auditStatus = 1
			</if>
			
			<!-- 我现在可以参与的活动 -->
			<if test="type==4">
				AND ta.id NOT IN 
				(SELECT distinct(eventId) AS eventId FROM event_sign WHERE userInfoId=#{userInfoId})
				AND ta.status = 0 AND ta.auditStatus = 1 
				AND (ta.maxPeople = 0 OR ta.maxPeople > (SELECT count(id) FROM event_sign WHERE eventId=ta.id) )
				AND 
				((Now() between ta.signupStartTime and ta.signupEndTime) OR (ta.signupStartTime > Now()))
				AND ta.userInfoId != #{userInfoId}
			</if>
			
			<!-- 我创建的活动 -->
			<if test="type==3">
				AND ta.userInfoId = #{userInfoId}
				AND ta.status != 2
			</if>
			
			<!-- 所有的官方活动 -->
			<if test="type==0">
				AND ta.type = #{type}
				AND ta.status != 2
			</if>
			
			<!-- 该用户所在地方的活动 -->
			<if test="type==5">
				AND ta.region LIKE concat('%',#{region},'%')
				AND ta.status = 0 AND ta.auditStatus = 1
			</if>
				
		</where>
	</select>
	
	<insert id="saveMobEvent" parameterType="com.hxy.core.mobevent.entity.CyEvent">
		
		insert into event
		(title,
		 type,
		 category,
		 place,
		 content,
		 pic,
		 organizer,
		 startTime,
		 endTime,
		 signupStartTime,
		 signupEndTime,
		 minPeople,
		 maxPeople,
		 needSignIn,
		 signInCode,
		 createTime,
		 userId,
		 userInfoId,
		 needNotification,
		 notification,
		 auditStatus,
		 auditOpinion,
		 auditUserId,
		 auditTime,
		 status,
		 score,
		 region)
		 
		VALUES
		
		(#{title},
		 #{type},
		 #{category},
		 #{place},
		 #{content},
		 #{pic},
		 #{organizer},
		 #{startTime},
		 #{endTime},
		 #{signupStartTime},
		 #{signupEndTime},
		 #{minPeople},
		 #{maxPeople},
		 #{needSignIn},
		 #{signInCode},
		 #{createTime},
		 #{userId},
		 #{userInfoId},
		 #{needNotification},
		 #{notification},
		 #{auditStatus},
		 #{auditOpinion},
		 #{auditUserId},
		 #{auditTime},
		 #{status},
		 #{score},
		 #{region})

		
	</insert>
	
	<select id="getDicts" parameterType="String" resultType="com.hxy.core.dict.entity.Dict">
		select dict_name AS dictName from dict where dict_type_id = 
		(select dict_type_id from dict_type where dict_type_name=#{dictTypeName} limit 0,1)
	</select>
	
	
	<select id="getNumOfNotifyForMyEvents" parameterType="String" resultType="com.hxy.core.mobevent.entity.CyEvent">
		SELECT count(id) AS joinedPeople FROM event_sign WHERE eventId IN(
		SELECT id FROM event ta
		WHERE (ta.id IN
			(SELECT distinct(eventId) AS eventId FROM event_sign WHERE userInfoId=#{userInfoId})
			OR ta.userInfoId = #{userInfoId})
		    AND needNotification = 1
		) AND viewNotification = 0 AND userInfoId = #{userInfoId}
	</select>
	
	<insert id="saveMobEventBoard" parameterType="com.hxy.core.mobevent.entity.CyEventBoard">
		
	    <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
	    
		insert into event_board
		(eventId,
		 userInfoId,
		 comment,
		 createTime,
		 status)
		 
		VALUES
		
		(#{eventId},
		 #{userInfoId},
		 #{comment},
		 #{createTime},
		 #{status})
		
	</insert>
	
	<insert id="saveMobEventBoardPic" parameterType="com.hxy.core.mobevent.entity.CyEventBoardPic">
		
		insert into event_board_pic
		(boardId,
		 pic)
		 
		VALUES
		
		(#{boardId},
		 #{pic})
		
	</insert>
	
	<select id="getRegionFromAlumniByAccountNum" parameterType="com.hxy.core.mobevent.entity.CyEvent" resultType="com.hxy.core.mobevent.entity.CyEvent">
		SELECT tb.region AS region, ta.address AS place FROM userprofile ta
			INNER JOIN alumni tb ON ta.alumni_id = tb.alumniId WHERE ta.accountNum = #{userInfoId}
	</select>
	
</mapper>