<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hxy.core.emailTemplate.dao.EmailTemplateMapper">

	<select id="list" parameterType="com.hxy.core.emailTemplate.entity.EmailTemplate" resultType="com.hxy.core.emailTemplate.entity.EmailTemplate">
		select * from email_template
		<where>
			<if test="templateName!=null and templateName!=''">
				templateName like concat('%',#{templateName},'%')
			</if>
		</where>
		order by templateId desc limit #{start},#{rows}
	</select>
	
	
	<select id="count" parameterType="com.hxy.core.emailTemplate.entity.EmailTemplate" resultType="long">
		select count(templateId) from email_template
		<where>
			<if test="templateName!=null and templateName!=''">
				templateName like concat('%',#{templateName},'%')
			</if>
		</where>
	</select>

	<insert id="save" parameterType="com.hxy.core.emailTemplate.entity.EmailTemplate">
		insert into email_template(
			templateType,
			templateName,
			templateContent,
			createDate
			) 
			value(
			#{templateType},
			#{templateName},
			#{templateContent},
			now()
			)
	</insert>
	
	
	<delete id="delete" parameterType="list">
		delete from email_template where templateId in
		<foreach collection="list" item="ids" open="(" separator="," close=")">
			#{ids}
		</foreach>
	</delete>
	
	
	
	
	<update id="update" parameterType="com.hxy.core.emailTemplate.entity.EmailTemplate">
		update email_template 
		<set>
			<if test="templateType!=null and templateType!=''">
				templateType = #{templateType},
			</if>
			<if test="templateName!=null and templateName!=''">
				templateName = #{templateName},
			</if>
			<if test="templateContent!=null and templateContent!=''">
				templateContent = #{templateContent},
			</if>
			
		</set>
		where templateId = #{templateId}
	</update>
	
	<select id="selectById" parameterType="long" resultType="com.hxy.core.emailTemplate.entity.EmailTemplate">
		select * from email_template where templateId = #{id}
	</select>
	
	<select id="getAllTemplate" resultType="com.hxy.core.emailTemplate.entity.EmailTemplate">
		select * from email_template order by templateId desc
	</select>
	
	
	<select id="getAllTemplateVariable" resultType="com.hxy.core.dict.entity.Dict">
		select dict_name as dictName, dict_value as dictValue from dict where dict_type_id = (select dict_type_id from dict_type where dict_type_value = '201') order by dict_value
	</select>
	
	<select id="selectByTemplateName" resultType="com.hxy.core.emailTemplate.entity.EmailTemplate" parameterType="com.hxy.core.emailTemplate.entity.EmailTemplate">
		select * from email_template 
		<where>
			<if test="templateName!=null and templateName!=''">
				templateName=#{templateName}
			</if>
			<if test="templateId!=0">
				and templateId!=#{templateId}
			</if>
		</where>
	</select>
</mapper>